@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: black;
} */
.bgImage {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(124, 122, 122, 0.2);
  border-radius: 10px;
}
.scrollBar::-webkit-scrollbar {
  width: 8px;
}
